<header>
    <div class="logo">
        <a href="{% url 'dashboard:dashboard' %}">SUBIO</a>
    </div>
</header>

<script>
// ===============================
// THEME TOGGLE
// ===============================
const themeToggle = document.querySelector('.theme-toggle');
if (localStorage.getItem('theme') === 'dark') document.body.classList.add('dark');
themeToggle.addEventListener('click', () => {
    document.body.classList.toggle('dark');
    localStorage.setItem('theme', document.body.classList.contains('dark') ? 'dark' : 'light');
});
</script>
